
<script>



export default {

    name:'CartPageVue',
    props: ['id'],
    data() {
        return {
            cart: [],
     
         
        }
    },

    mounted() {
    // Fetch cart items from local storage (optional)
    const cartFromStorage = localStorage.getItem('cart');
    if (cartFromStorage) {
      this.cart = JSON.parse(cartFromStorage);
    }
    console.log(cartFromStorage)
  },

methods: {
  
    removeFromCart(index) {
      this.cart.splice(index, 1);
      localStorage.setItem('cart', JSON.stringify(this.cart));
    },
    increaseQuantity(index) {
      this.cart[index].quantity++;
      localStorage.setItem('cart', JSON.stringify(this.cart));
    },

    decreaseQuantity(index) {
  if (this.cart[index].quantity > 1) {
    this.cart[index].quantity--;
    localStorage.setItem('cart', JSON.stringify(this.cart));
  } else {
    this.removeFromCart(index);
  }
}

  },

}
</script>


<template>

<div class="main-wrapper">
 

  <header class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);" @click="toggleSidebar">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
					
					</div>
			
					<ul class="nav header-navbar-rht">
						<li class="nav-item">
             <a href="/cart" class="nav-link header-reg">
              <i class="fas fa-shopping-cart"></i> </a>
             </li>
					</ul>
				</nav>
			</div>
	</header>

        <div class="page-wrapper">
            <div class="breadcrumb-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Cart</h2>

                </div>
            </div>
        </div>
    </div>

            <div class="bg-img">
    <img src="@/assets/img/bg/work-bg-03.png" alt="img" class="bgimg1" />
    <img src="@/assets/img/bg/work-bg-03.png" alt="img" class="bgimg2" />
    <img src="@/assets/img/bg/feature-bg-03.png" alt="img" class="bgimg3" />
  </div>

 
        </div>
    </div>


    <div class="content">
        <div class="container">
          <div v-if="cart.length > 0">
            <h2>Shopping Cart</h2>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, index) in cart" :key="product.id">
                  <td>{{ index + 1 }}</td>
                  <td>{{ product.title }}</td>
                  <td>{{ product.price }} $</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button class="btn btn-sm btn-outline-primary mr-2" @click="decreaseQuantity(index)">-</button>
                      <input type="number" min="1"  v-model="product.quantity" class="orm-control-sm" style="width: 50px;" />
                      <button class="btn btn-sm btn-outline-primary" @click="increaseQuantity(index)">+</button>
                    </div>
                  </td>
                  <td>{{ product.price * product.quantity }} $</td>
                  <td>
                    <button class="btn btn-sm btn-danger" @click="removeFromCart(index)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          <div v-else>
            <h2>Your cart is empty!</h2>
          </div>
        </div>
    </div>

    <div v-if="cart.length > 0">
      <div class="d-flex justify-content-end mr-3">
        <button type="button" class="btn btn-primary">Proceed to Checkout</button>
      </div>
    </div>


</template>
