
<script>
import axios from 'axios';


export default {

    name:'DetailsProduct',
    props: ['id'],
    data() {
        return {
         
            product:{
                title:'',
                price:'',
                description:'',
                category:'',
                image:''
            }
         
        }
    },

mounted() {
  this.fetchProduct()

},

methods: {
  
    fetchProduct() {
      axios.get(`https://fakestoreapi.com/products/${this.id}`).then(response => {
          this.product = response.data;
         })
         .catch(error => {
                console.error('Error fetching invoice:', error);
            });
    },

  },

}
</script>


<template>

<div class="main-wrapper">
 

  <header class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);" @click="toggleSidebar">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
					
					</div>
			
					<ul class="nav header-navbar-rht">
						<li class="nav-item">
             <a href="/cart" class="nav-link header-reg">
              <i class="fas fa-shopping-cart"></i> </a>
             </li>
					</ul>
				</nav>
			</div>
	</header>

        <div class="page-wrapper">
            <div class="breadcrumb-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Details product</h2>

                </div>
            </div>
        </div>
    </div>

            <div class="bg-img">
    <img src="@/assets/img/bg/work-bg-03.png" alt="img" class="bgimg1" />
    <img src="@/assets/img/bg/work-bg-03.png" alt="img" class="bgimg2" />
    <img src="@/assets/img/bg/feature-bg-03.png" alt="img" class="bgimg3" />
  </div>

 
        </div>
    </div>


    <div class="content">
        <div class="container">
            <div class="row">
                <!-- Service Profile -->
                <div class="col-md-8">
                    <div class="serv-profile">
                        <h2>{{ product.title }}</h2>
                        <ul>
                            <li>
                                <span class="badge">{{ product.category }}</span>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="service-images">
  <img :src=product.image class="img-fluid" alt="img">
</div>
              
                <!-- /Service Profile -->
            </div>

            <div class="row">
                <!-- Service Details -->
                <div class="col-lg-8">
    <div class="service-wrap">
      <h5>Description</h5>
      <p>
        {{ product.description }}
      </p>
    </div>
    <div class="service-wrap provide-service">
      <div class="row">
        <div class="col-md-4">
          <div class="provide-box">
            <div class="provide-info">
              <h6>{{ product.price }} $</h6>
            </div>
          </div>
        </div>
 
    
   
        
     
      </div>
    </div>
 

    



 
  </div>
                <!-- /Service Details -->

            
            </div>
        </div>
    </div>


</template>
