
<script>

import axios from 'axios';

export default {

    name:'PageProduct',
    data() {
        return {
            title: "Find a Professional",
            text: "Home",
            text1: "Find a Professional",
            products: [],
            cart: [],
            searchTerm: '',
        }
    },

mounted() {

 this.fetchProducts()
},

computed: {
    originalProducts() {
      // Assuming you have a way to access the original product data
      return this.$options.data().products; // Access the initial product data
    },
  },
  watch: {
    searchTerm() {
      // Trigger the filter whenever the search term changes
      this.filterProducts();
    },
  },

methods: {

  addToCart(product) {
    const existingProduct = this.cart.find((item) => item.id === product.id);
    if (!existingProduct) {
      this.cart.push({ ...product, quantity: 1 });
    } else {
      existingProduct.quantity++;
    }
    localStorage.setItem("cart", JSON.stringify(this.cart));
  },
    //

    filterProducts() {
      // Filter the products based on the search term
      if (this.searchTerm) {
        this.products = this.products.filter(product =>
          product.title.toLowerCase().includes(this.searchTerm.toLowerCase())
        );
      } else {
        // If no search term, reset products to the full list
        this.products = this.originalProducts; // Assuming you have a copy of the original data
      }
    },

    async fetchProducts() {
    try {
      const response = await axios.get('https://fakestoreapi.com/products');
      this.products = response.data;
      console.log(this.products);
      this.originalProducts = [...this.products]; // Store a copy for resetting
    } catch (error) {
      console.error('Error fetching products:', error);
      // Handle the error gracefully, e.g., display an error message to the user
    }
  },
  },

}
</script>


<template>

<div class="main-wrapper">
 

  <header class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);" @click="toggleSidebar">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
					
					</div>
			
					<ul class="nav header-navbar-rht">
						<li class="nav-item">
             <router-link to="/cart" class="nav-link header-reg">
              <i class="fas fa-shopping-cart"></i> </router-link>
             </li>
					</ul>
				</nav>
			</div>
		</header>

        <div class="page-wrapper">
            <div class="breadcrumb-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Products</h2>
                </div>
            </div>
        </div>
    </div>

            <div class="bg-img">
    <img src="@/assets/img/bg/work-bg-03.png" alt="img" class="bgimg1" />
    <img src="@/assets/img/bg/work-bg-03.png" alt="img" class="bgimg2" />
    <img src="@/assets/img/bg/feature-bg-03.png" alt="img" class="bgimg3" />
  </div>

 
        </div>
    </div>


    <div class="content">
    <div class="container">
      <div class="row">
        <!-- Filter -->
        <div class="col-lg-3 col-sm-12 theiaStickySidebar">
          <div class="stickysidebar">
            <div class="filter-div">
              <div class="filter-head">
                <h5>Filter by</h5>
              </div>
              <div class="filter-content">
                <h2>Keyword</h2>
                <input
                  type="text"
                  v-model="searchTerm"
                  class="form-control"
                  placeholder="What are you looking for?"
                />
              </div>
          
          
        
            </div>
          </div>
        </div>
        <!-- /Filter -->

        <!-- Service -->
        <div class="col-lg-9 col-sm-12">
          <div class="row sorting-div">
          
            <div class="col-lg-8 col-sm-12 d-flex justify-content-end">
              <div class="sortbyset">
                <div class="sorting-select">
                  <vue-select :options="Select" placeholder="Price Low to High" />
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <!-- Service List -->
            <div class="col-xl-4 col-md-6" v-for="item in products" :key="item.id">
              <div class="service-widget servicecontent">
                <div class="service-img">
                  <router-link :to="'/detailsProduct/' + item.id">
                    <img
                      class="serv-img" 
                      alt="Service Image"
                      :src=item.image
                    />
                  </router-link>
               
                </div>
                <div class="service-content">
                  <h3 class="title">
                    <router-link :to="'/detailsProduct/' + item.id">{{ item.title }}</router-link>
                  </h3>
                  <div class="serv-info">
                    <h6>
                      {{ item.price }} $
                    </h6>
                    <button class="btn btn-book" @click.prevent="addToCart(item)">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Service List -->
          </div>

          <!-- Pagination -->
          <div class="row">
            <div class="col-sm-12">
              <div class="blog-pagination rev-page">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link page-prev" href="javascript:;" tabindex="-1"
                        ><i class="fa-solid fa-arrow-left me-1"></i> PREV</a
                      >
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="javascript:;">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:;">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:;">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link page-next" href="javascript:;"
                        >NEXT <i class="fa-solid fa-arrow-right ms-1"></i
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- /Pagination -->
        </div>
        <!-- /Service -->
      </div>
    </div>
  </div>

</template>
